@charset "UTF-8";

/* 전체 글씨체 */
body{
	font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}

a{
	cursor:pointer;
}

input[type="search"], input[type="date"],  input[type="text"], select{
	height: 25px;
}

label span{
	display: inline-block;
	width: 100px;
	padding: 15px 10px;
}

fieldset {
	margin: 40px 10px;
}

legend {
	font-size: 1.1em;
}

.header{
	height: 160px;
}

.nav{
	height: 118px;
	padding-bottom: 0px !important;
	align-items: center;
	background: #f6f5ef;
	padding: 5px 30px;
}

.logo{
	position: absolute;
}

.logo>img{
	width: 90px; 
	height: 90px; 
}

.nav-right-list{
	font-size: 13px;
	margin-top: 10px;
	float: right;
	list-style: none;
	white-space: nowrap;
}

.nav-left-list{
	display: flex;
	margin-top: 80px;
	margin-bottom: 0px !important;
	padding-left: 5%;
	float: left;
	list-style: none;
	position: absolute;
}

.nav-right-list>.nav-item{
	margin-left: 40px;
	padding-right: 5px;
}

.nav-left-list>.nav-item{
	width: 65px;
	margin-left: 40px;
	border-radius: 10px 10px 3px 3px;
	position: relative;
	text-align: center;
	padding: 0px 15px;
}

.nav-left-list>.nav-item:hover, .nav-right-list>.nav-item:hover{
	color: #006633;
	text-decoration: underline;
	cursor: pointer;
}

.tri{
	display: none;
	color: #006633;
}

.drop-list{
	position: absolute;
	width: 99%;
	background: #006633;
	height: 40px;
}

.drop-menu{
	height: 20px;
	background: #006633;
	color: white;
	padding: 10px;
	margin: 0px !important;
	list-style: none;
	display: none; 
	white-space: nowrap;
}

.drop-menu>li{
	display: inline-block;
	padding: 0px 40px;
	cursor: pointer;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	display: flex;
}

.sidebar{
	width: 200px !important;
    min-height: 1000px;
    max-height: 100%;
    top: 130px;
    bottom: 0;
    left: -180;
    border-right: 1px solid #eee;
    display: flex;
    background: #2C2A29;
	color: white;    
	white-space: nowrap;
}

.side-menu{
	list-style: none;
	padding: 10px;
	width: 100%;
}

.side-menu >li{
	padding-bottom: 15px;
}

.dropdown-btn, .dropdown-container{
	padding: 5px 10px;
	background-color: #262626;
}


.dropdown-btn {
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.fa-caret-down {
  float: right;
  padding-top: 4px;
  padding-right: 8px;
}

.active-side {
  background-color: #669900;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding: 20px 0;
  padding-left: 20px;
}

.dropdown-container a{
	text-decoration: none;
	color: white;
	padding: 10px 0;
}

.main {
	width: 85%;
	border: 1px solid #eee;
	margin: 30px;
	padding: 30px 20px;	
}

.information{
	width:100%; 
	overflow: auto !important;
}

.information-left{
	width: 43%;
	float: left;
	margin: auto;
	padding-left: 20px;
}
.information-right{
	width: 46%;
	float: right;
	margin: auto;
	padding-right: 20px;
}

.table {
   margin-left: -1px;
   border-collapse: collapse !important;
   font-size: 13px;
   width: 100%;
   max-width: 100%;
   margin: 50px 0;
   border: 1px solid #ddd;
   line-height: 1.5;
   border-spacing: 0;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table>thead>tr>td,
   .table tbody>tr>td, .table tfoot>tr>td {
   padding: 9px;
   line-height: 1.4;
   border-top: 1px solid #ddd;
   border-bottom-width: 2px;
   vertical-align: middle !important;   
}

.table thead>tr>th {
	width: 13%;
}

.table thead>tr>td {
	padding-left: 20px;
}

.table tbody+tbody {
   border-top: 2px solid #ddd;
}

.table th {
     background: #f6f5ef;
      text-align: center;
}

.table>thead>tr>td {
   text-align: left;
}

.table>tbody>tr>td{
	padding: 8px 20px;
	text-align: center;
}

.min-own{
	width: 70px !important;
}

.permit-div, .qty{
	width: 50px;
}

.Scope{
	width: 100px;
}

.gLabel input[type="checkbox"], .gLabel input[type="radio"]{
	position: relative;
    top: 2px;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.date-output{
	font-size: 18px;
	font-weight: bold;
}

.a-button{
	text-decoration: none;
	font-size: 13px;
    color: white;
    text-align: center;
    line-height: 2em;
    border-radius: 8px;
    background: rgb(22, 160, 133);
    padding: 2px 8px;
    white-space: nowrap;
}

.search-icon{
	padding: 4px 6px !important;
	border-radius: 4px !important;
}

.padding-button{
	padding: 5px 25px !important;
	border-radius: 4px !important;
}

.medium{
	font-size: 14px !important;
	line-height: 2.2em;
	padding: 5px 25px;
}

.big{
	font-size: 15px !important;
	line-height: 2.5em;
	padding: 5px 35px;
}

.white{
	background: white !important;
	color: black !important;
}

.gray{
	background: rgb(190, 190, 190) !important;
}

.blackgray{
	background: rgb(94, 94, 94) !important;
}

.black{
	background: rgb(64, 64, 64) !important;
}

.red{
	background: rgb(188, 78, 67) !important;
}

.purple{
	background: rgb(223, 175, 243) !important;
}

.sea{
	background: rgb(52, 152, 219) !important;
}

.blue{
	background: rgb(241, 247, 253) !important;
}

.green{
	background: #006633 !important; 
}

.pink{
	background: rgb(255, 243, 240) !important;
}

.brown{
	background: rgb(163, 139, 124) !important;
}

.beige{
	background: rgba(243, 156, 18, 0.19) !important;
}

.green-font{
	color:  rgb(22, 160, 133) !important;
}

.red-font{
	color:  rgb(188, 78, 67) !important;
}

.gray-font{
	color: rgb(190, 190, 190) !important;
}

.enroll-ul{
	list-style: none; 
	display: flex; 
	padding: 0px; 
	margin: 0px;
}

.enroll-ul>li{
	background:#f6f5ef; 
	padding: 20px; 
	cursor: pointer;
}

.enroll-div{
	padding:30px; 
	width: 85%; 
	background:#f6f5ef; 
}

.enroll-fieldset{
	background: white; 
	margin: 10px;
	 padding: 30px 5px;
}

.staff{
	display: inline-block; 
	width: 90px; 
	padding: 15px 10px;
}

.staff-head{
	height: 50px;
	font-size: 20px;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
}

.staff-div{
	border: 1px solid rgb(190, 190, 190);
	margin: 0px;
	padding: 0px;
}

.staff-left{
	border: 1px solid rgb(190, 190, 190);
	padding: 0px !important;
	padding-bottom: 60px !important;
}

/*	 
	#2C2A29 : 스벅 스타일 검은색 
	#f6f5ef   : 스벅 스타일 누렁색 
	#669900 : 스벅 연두색
	#006633 : 스벅 초록색
			
*/

