<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 사용 테이블 :  (매퍼끼리는 성격 맞는거 묶어서 해주시면 감사)-->
<mapper namespace="site.bucks.mapper.AccountMapper">
    <!-- 지점매입과 본사매출 공통(테이블 사용하는것 같음)으로 사용-->
    
	<resultMap type="Account" id="stPurchaseMainSaleMap">
		<association property="sih" javaType="StoreItemHistory">
			<result column="STORE_ID" property="storeId"/>
			<result column="HISTORY_DATE" property="historyDate"/>
			<result column="ITEM_NUM" property="itemNum"/>
			<result column="ITEM_NAME" property="itemName"/>
			<result column="REQUEST_NUM" property="requestNum"/>
			<result column="ITEM_STATE" property="itemState"/>
			<result column="ITEM_QTY" property="itemQty"/>
		</association>
		
		<association property="oi" javaType="OrderItem">
			<result column="REQUEST_NUM" property="requestNum"/>
			<result column="ITEM_PPRICE" property="itemPprice"/>
			<result column="ITEM_SPRICE" property="itemSprice"/>
		</association>
	</resultMap>


	<!-- 지점매입,본사매출 출력 & 검색조건 -->
	<select id="selectPurchaseSaleList" resultMap="stPurchaseMainSaleMap" parameterType="StoreItemHistory">
		select * from store_item_history sih left join order_item oi on sih.request_num=oi.request_num where sih.item_state=70
			<!-- <if test="storeId!=null and storeId!=0">
				and sih.store_id=1021
			</if>
			<if test="itemName!=null and itemName!=''">
				and sih.item_name like '%'||#{itemName}||'%'
			</if> -->
		order by sih.history_date desc
	</select>
	
	
</mapper>










