<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 사용 테이블 :  (매퍼끼리는 성격 맞는거 묶어서 해주시면 감사)-->
<mapper namespace="site.bucks.mapper.AccountMapper">

    <!-- 지점매입과 본사매출 공통(테이블 사용하는것 같음)으로 사용-->
<!-- 	<resultMap type="Account" id="accountResultMapOne">
 -->	
    
	<resultMap type="Account" id="accountResultMapOne">
		<association property="sih" javaType="StoreItemHistory">
			<result column="store_id" property="storeId"/>
			<result column="history_date" property="historyDate"/>
			<result column="item_num" property="itemNum"/>
			<result column="item_name" property="itemName"/>
			<result column="item_qty" property="itemQty"/>
			<result column="request_num" property="requestNum"/>
			<result column="item_state" property="itemState"/>
		</association>
		
		<association property="oi" javaType="OrderItem">
			<result column="REQUEST_NUM" property="requestNum"/>
			<result column="ITEM_PPRICE" property="itemPprice"/>
			<result column="ITEM_SPRICE" property="itemSprice"/>
		</association>
	</resultMap>


	<!-- 지점매입 검색조건 -->
	<select id="selectPurchaseSaleList" resultMap="accountResultMapOne">
		select * from store_item_history s join order_item o
				on s.request_num=o.request_num where s.item_state=70 and s.store_id=1021
				<if test="historyDate!=null and historyDate!=''">
					and to_char(s.history_date,'yyyy-mm-dd') between #{historyDate} and #{historyDate1} 
				</if>
				<!-- 				
				<if test="accountDate1!='' and accountDate2=''">
					and to_char(s.history_date,'yy-mm-dd') = #{accountDate1} 
				</if>
				<if test="accountDate1='' and accountDate2!=''">
					and to_char(s.history_date,'yy-mm-dd') = #{accountDate2} 
				</if>
				 -->
				<if test="itemNum!=null and itemNum!=''">
					and s.item_num like '%'||#{itemNum}||'%'
				</if>
				<if test="itemName!=null and itemName!=''">
					and s.item_name like '%'||#{itemName}||'%'
				</if>
				order by s.history_date desc	
	</select>

</mapper>











