<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 사용 테이블 : 지점재고 / 지점재고history / 판매 / 상품레시피 -->
<mapper namespace="site.bucks.mapper.StoreItemMapper">
	
<!-- record 테이블 -->

	<!-- 재고 잔량 기록 -->
	<update id="updateRecord" parameterType="map">
	 	update record set item_rest=#{itemRest} where item=#{item}
	</update>
	
	<!-- 특정 재고 잔량 검색 -->
	<select id="selectItemRest" parameterType="string" resultType="int">
		select item_rest from record where item=#{item}
	</select>
	
<!-- record 테이블 -->	
	
	
	
<!-- sale 테이블 -->
	
	<!-- 판매 기록 -->
	<insert id="insertSale" parameterType="Sale">
		<selectKey resultType="int" keyProperty="saleNo" order="BEFORE">
			select sale_seq.nextval from dual		
		</selectKey>
		insert into sale values(#{saleNo},#{storeCode},#{saleProduct},#{saleQty},sysdate)
	</insert>
	
	<!-- 판매 기록 검색 -->
	<select id="selectSaleList" resultType="Sale">
		select * from sale
	</select>
	
	<!--지점 검색하기(판매기록하기 위해서) -->
	
	
<!-- sale 테이블 -->


<!-- productRecipe 테이블 -->

	<!-- 상품명을 통한 재료들 및 카테고리 검색 이용(커피종류만 해당) -->
	<select id="selectProduct" resultType="ProductRecipe">
		select * from product_recipe where product=#{product}
	</select>
<!-- productRecipe 테이블 -->	
	
	
	<!--  store_code=#{storeCode} -->

<!-- storeItem 테이블 -->
	<!-- 원재료 들어올시 지점재고 업데이트 -->
	<update id="updateStoreItem1" parameterType="map">
		update store_item set store_item_qty=store_item_qty-#{bundle} where item_code=(select item_code from item where item_name=#{item})
	</update> 
	
	<!-- 완제품 들어올시 지점재고 업데이트 -->
	<update id="updateStoreItem2" parameterType="map">
		update store_item set store_item_qty=store_item_qty-#{storeItemQty} where item_code=(select item_code from item where item_name=#{saleProduct})
	</update>
 
 	<!-- 조인 association property 사용시 소문자 사용해야함!!  -->
	<resultMap type="ProductSale" id="productSaleRM">
 		<association property="sale">
 			<id column="sale_no" property="saleNo"/>
 			<result column="sale_product" property="saleProduct"/>
 			<result column="sale_qty" property="saleQty"/>
 			<result column="sale_date" property="saleDate"/>
 		</association>
 		<association property="item">
 			<id column="item_code" property="itemCode"/>
 		</association>
 	</resultMap>
 	
 
<!-- storeItem 테이블 -->

	
	
	
	
</mapper>