<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.bucks.mapper.StoreItemHistoryMapper">
	<!-- store_item_histry : 지점에서 입고확인시 기록상태 변화 -->
	<update id="receiptProcess" parameterType="StoreItemHistory">
		update store_item_history set item_state=70 where request_num=#{requestNum}
	</update>
	
	
	
	

</mapper>